body {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
}

header {
    background-color: #00356f;
    color: #ffffff;
    text-align: center;
    padding: 71px 0;
    font-weight: 400;
}

h1 {
    margin: -700;
    font-size: 3.1em;
    font-weight: 900;
}

p {
    font-size: 1em;
}

main {
    padding: 37px;
    max-width: 416px;
    margin: auto;
}

.profile {
    background: #454545;
    color: white;
    padding: 3px;
    border-radius: 7px;
    line-height: 166%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 792;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.skills,
.contact {
    text-align: center;
    margin-top: 26px;
    background: #454545;
    color: white;
    padding: 4px;
    line-height: 200%;
    font-weight: 308;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

a:link {
    color: darkgray
}
