body {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #ffffff; /* 텍스트 색상 수정 */
}

header {
    background-color: #5aa9ff;
    color: #ffffff;
    text-align: center;
    padding: 71px 0;
    font-weight: 400;
}

h1 {
    margin: 0; /* margin 수정 */
    font-size: 3.1em;
    font-weight: 900;
}

p {
    font-size: 1em;
  
}

main {
    display: flex; /* flexbox 사용 */
    flex-wrap: wrap; /* 섹션 줄 바꿈 */
    justify-content: space-between; /* 섹션 간격 조정 */
    padding: 37px;
    max-width: 458px; /* 최대 너비 설정 */
    margin: auto;
}

.profile {
    flex: 0 100%; /* 각 섹션의 폭 설정 */
    margin: 10px; /* 섹션 간 간격 */
    background: #8f8f8f;
    color: white;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.2

}

.skills {
    height: fit-content;
    flex: 0 0 30%; /* 각 섹션의 폭 설정 */
    margin: 10px; /* 섹션 간 간격 */
    background: #8f8f8f;
    color: white;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 150%;
}
.contact {
    flex: 0 0 43%; /* 각 섹션의 폭 설정 */
    height: fit-content;
    margin: 10px; /* 섹션 간 간격 */
    background:#8f8f8f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255)
}
a:hover {
    color: #ffffff; /* 마우스 오버 시 흰색으로 변경 */
    text-decoration: underline; /* 밑줄 추가 */
}

.projects {
    flex: 0 0 30%; /* 기존 섹션과 같은 폭 유지 */
    margin: 10px; /* 섹션 간 간격 */
    background: #8f8f8f;
    color: white;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
